<?xml version="1.0"?>
<!--
 ~ @copyright   Copyright (c) 2026 Magenettic
 ~ @author      Eliel de Paula <eliel@magenettic.com>
 ~ @license     MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:config/etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="security">
                <field id="ip_whitelist_enabled" translate="label comment" type="select" sortOrder="40" showInDefault="1" canRestore="1">
                    <label>Enable IP Whitelist</label>
                    <comment>Restrict admin access to a list of allowed IP addresses.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ip_whitelist_allowed_ips" translate="label comment" type="textarea" sortOrder="50" showInDefault="1" canRestore="1">
                    <label>Allowed IP Addresses (Whitelist)</label>
                    <comment>Enter one IP address per line (e.g., 192.168.1.1). Only these IPs will be allowed to access the admin panel.</comment>
                    <depends>
                        <field id="admin/security/ip_whitelist_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
